* {
    box-sizing: border-box;
    outline: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(11, 6, 20), rgb(0, 3, 26));
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    color: whitesmoke;
}

/* background-color: rgb(29, 18, 37); */
.container {
   max-width: 640px;
   margin: 50px auto;
   background-color: rgb(29, 18, 37);
   padding: 20px;
   border-radius: 10px;
}

.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background: #9e9e9e;
}

.btn-eq {
    background: royalblue;
}